.navbar-container{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  justify-content: space-around;
  margin-top: 30px;
  height: 40px;
  align-items: center;

  button {
    border: none;
    font-family: 'Times New Roman';
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
  }

}