.authorlist-main-container {
    h1{
        font-family: 'Times New Roman';
        margin-left: 35px;
    }
    .author-list {
        table {
            width: 30%;
            margin: 20px;
            border-collapse: collapse;
            font-size: 18px;
        }

        th,
        td {
            border: 2px solid green;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: yellow;
        }

    }
}