.home-page-main-container{
    .image{
        display:block;
        margin-left:460px;
        margin-top:50px;
    }
    #line1{
        text-align:center;
        color:blue;
        margin-top:50px;

    }
    #line2{
        text-align:center;
        color:red;
    }
}